[Bb]in/
[Oo]bj/
src/**/[Bb]in/
src/**/[Oo]bj/
src/packages/**/signed/
src/packages/**/pp/
test/**/[Bb]in/
test/**/[Oo]bj/
.vs/
.binaries/
msbuild.*
/packages/
samples/**/[Bb]in/
samples/**/[Oo]bj/
samples/**/[Pp]ublish[Pp]rofiles/
samples/**/[Ss]ervice[Dd]ependencies/
*.user
