<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="fakeAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>

  <configBuilders>
    <builders>
      <add name="InstanceCheck1" mode="Greedy" type="Test.InstanceCheck, Test" />
      <add name="InstanceCheck2" mode="Strict" type="Test.InstanceCheck, Test" />
    </builders>
  </configBuilders>

  <appSettings configBuilders="InstanceCheck1,InstanceCheck2">
    <add key="not-a-guid" value="I am a string." />
  </appSettings>

  <fakeAppSettings configBuilders="InstanceCheck1" />

</configuration>