<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configBuilders>
    <builders>
      <add name="Environment" recur="Allow" type="Microsoft.Configuration.ConfigurationBuilders.EnvironmentConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Environment" />
      <add name="Indirect3" section="indirect.one" mode="Greedy" type="Test.RecursiveBuilder, Test"/>
    </builders>
  </configBuilders>

  <appSettings>
  </appSettings>

  <direct.recur configBuilders="Environment">
    <add key="section" value="static.recur" />
  </direct.recur>

  <indirect.two configBuilders="Indirect3">
    <add key="section" value="indirect.three" />
  </indirect.two>

  <false.positive configBuilders="Environment">
    <add key="section" value="false.static" />
    <add key="_recur_" value="invalid" />
  </false.positive>

  <buried.direct configBuilders="DirectRecur">
    <add key="section" value="app.buried.direct" />
  </buried.direct>

  <reentry.target configBuilders="Environment">
    <add key="section" value="app.reentry.target" />
  </reentry.target>

</configuration>