<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />

    <section name="direct.recur" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="indirect.one" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="indirect.two" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="false.positive" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="buried.direct" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="buried.indirect" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="buried.false" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="reentry.start" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="reentry.target" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
  </configSections>

  <configBuilders>
    <builders>
      <add name="DirectRecur" section="direct.recur" mode="Greedy" type="Test.RecursiveBuilder, Test"/>
      <add name="Indirect1" section="indirect.two" mode="Greedy" type="Test.RecursiveBuilder, Test"/>
      <add name="Indirect2" section="indirect.one" mode="Greedy" type="Test.RecursiveBuilder, Test"/>
      <add name="False1" mode="Greedy" type="Test.RecursiveBuilder, Test"/> <!-- These will trigger a recursion detection. It is technically a false positive, but it is what it is. -->
      <add name="False2" mode="Greedy" type="Test.RecursiveBuilder, Test"/>
      <add name="BuriedDirect" section="direct.recur" mode="Greedy" type="Test.RecursiveBuilder, Test"/>
      <add name="BuriedIndirect" section="indirect.two" mode="Greedy" type="Test.RecursiveBuilder, Test"/>
      <add name="Reentry" section="reentry.target" mode="Greedy" type="Test.RecursiveBuilder, Test"/>
    </builders>
  </configBuilders>

  <appSettings>
  </appSettings>

  <direct.recur configBuilders="DirectRecur">
    <add key="section" value="direct.recur" />
  </direct.recur>

  <indirect.one configBuilders="Indirect1">
    <add key="section" value="indirect.one" />
  </indirect.one>

  <indirect.two configBuilders="Indirect2">
    <add key="section" value="indirect.two" />
  </indirect.two>

  <false.positive configBuilders="False1,False2">
    <add key="section" value="false.positive" />
  </false.positive>

  <buried.direct configBuilders="BuriedDirect">
    <add key="section" value="buried.direct" />
  </buried.direct>

  <buried.indirect configBuilders="BuriedIndirect">
    <add key="section" value="buried.indirect" />
  </buried.indirect>

  <reentry.start configBuilders="Reentry">
    <add key="section" value="reentry.start" />
  </reentry.start>

  <reentry.target configBuilders="Reentry">
    <add key="section" value="reentry.target" />
  </reentry.target>

</configuration>